<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borben</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link type = "text/css" rel = "stylesheet" href = "../static/styles.css">
</head>
<body>
    <h1>Borben - Mental Health Chatbot</h1>
    <div id = "image"><img src = "../static/clouds.png" id = "cloud"/></div>
    <div id = "image2"><img src = "../static/clouds2.png" id = "cloud2"/></div>
    <form method = "POST" action = "/restart"><button id = "restart"><img src = "../static/restart.svg"/></button></form>
    <div id = "square">
        <div id="conversation">
            {%for message in conversation%}
                {%if message['role'] == "user" %}
                    <p class = "userMessage">User: {{message['parts']}}</p>
                    <br/>
                {%endif%}
                {%if message['role'] == "model"%}
                    <p class = "BotMessage">Bot: {{message['parts']}}</p>
                    <br/>
                {%endif%}
            {%endfor%}
        </div>
    </div>
    <form action="/chat" method="POST" id = "putin">
        <input type="text" name="prompt" placeholder="Type your message here" id = "chat"/>
        <button type="submit" id = "submit"><img src = "../static/send.svg"/></button>
        <p name = "answer">{{response}}</p>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
          $("#putin").submit(function(e) 
        {
            e.preventDefault(); // Prevent default form submission
            var user_prompt = $("#chat").val();
            console.log(user_prompt)
            // Send AJAX request
            $.ajax({
              url: "/chat",
              type: "POST",
              data: { prompt: user_prompt },
              success: function(response) {
                // Update conversation history (already handled in the template)
                // Update chatbot response using the received answer
                //console.log("Success!")
                //console.log(response.answer)
                //console.log(response.conversation)
                //$("#conversation").html(response.conversation)
                //console.log("Added to flow")
                console.log("Success!")
                $("#chat").val(""); // Clear input field after sending
                response.conversation
                console.log(typeof(response.conversation))
                console.log(response.conversation.length)
                let messages = []
                console.log(typeof(messages))
                for(let i = 0; i != response.conversation.length; i++)
                  messages.push(response.conversation[i].parts)
                for(let i = 0; i != messages.length; i++)
                  console.log(messages[i])
                for(let i = 0; i != messages.length; i++)
                {
                  if(i % 2 == 0)
                    $("#conversation").append('<p class = "userMessage"> You:'  + messages[i] +  "</p> <br/>")
                  else
                    $("#conversation").append('<p class = "BotMessage"> Borben:' + messages[i] + '</p> <br/>')
                }
              }
            });
        });
    
          $("#restart").click(function() {
            $.ajax({
              url: "/restart",
              type: "POST",
              success: function(response) {
                // Update conversation history and clear chatbot response
                $("#conversation").html(response.conversation);
                $("#answer").text("");
              }
            });
          });
        });
    </script>
</body>
</html>